* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

.search-page .search-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
}

.search-page .search-header .title-wrapper {
  padding-left: 5px;
  padding-top: 10px;
}

.search-page .search-header .title-wrapper .title {
  color: #202020;
}

.search-page .search-header .title-wrapper .subtitle {
  font-size: 12px;
  font-weight: 400;
  color: #747474;
}

.search-page .results.infinite-scroll {
  width: 100vw;
  /*  margin-top: 50px;
      display: flex;
      width: 100%;
      flex-wrap: wrap; */
}

.card {
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  margin: 1rem;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card .timestamps p {
  font-weight: 300;
  font-size: 12px;
  color: #747474;
}

input.keyword-input {
  padding: 0 3px;
  font-size: 17px;
  color: #202020;
  margin: 5px;
  height: 42px;
  width: 250px;
  border: 1px solid #747474;
}

select.type-input {
  margin: 5px;
  padding: 0 2px;
  height: 43px;
  width: 120px;
  border: 1px solid #747474;
}

.user-card {
  width: 260px;
  height: 180px;
}

.user-card .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
}

.user-card .header .avatar {
  height: 64px;
  width: 64px;
  padding: 5px;
  border-radius: 50%;
}

.user-card .header .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
}

.user-card .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 36px;
}

.user-card .details span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 3px 5px;
  border-radius: 7px;
  background-color: #202020;
}

.user-card .details span a {
  text-decoration: none;
  color: white;
}

.user-card .details span:hover {
  background-color: #373737;
}

.repository-card {
  width: 300px;
  height: 180px;
}

.repository-card .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.repository-card .header .avatar {
  padding: 3px 9px;
  height: 42px;
  width: 42px;
}

.repository-card .header .name {
  font-weight: 500;
}

.repository-card .header .stars {
  font-weight: 400;
  font-size: 12px;
}

.repository-card .details {
  margin: 2px;
}

.repository-card .details .description {
  font-size: 14px;
}

.repository-card .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.repository-card .links span {
  margin: 5px;
  width: 81px;
  height: 24px;
  text-align: center;
  border-radius: 5px;
  background-color: #4e4c4c;
}

.repository-card .links span a {
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.repository-card .links span:hover {
  background-color: #656363;
}

.issue-card {
  text-align: center;
  width: 240px;
  height: 160px;
  padding: 10px;
}

.issue-card label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.issue-card .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.issue-card .header .id {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #a0a0a0;
}

.issue-card .header label[for="title"] .title {
  padding: 1px 3px;
  font-weight: 600;
  font-size: 18px;
}

.issue-card .header label[for="user"] .username {
  padding: 0 5px;
}

.issue-card .header label[for="user"] .username a {
  text-decoration: none;
  color: #4e4c4c;
}

.issue-card .details {
  margin: 5px;
}

.issue-card .details .comments, .issue-card .details .state {
  padding: 1px 3px;
}

.issue-card .timestamps {
  margin-top: 10px;
}
/*# sourceMappingURL=styles.css.map */